body {
    position: relative;
    height: 96vh;
    background-image: url('https://images.pexels.com/photos/6834996/pexels-photo-6834996.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

.container {
    position: absolute;
    border: 1px solid black;
    border-radius: 20px;
    padding: 50px;
    background-color: white;
    width: 400px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;

}

form {
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
}

input {
    margin-top: 20px;
}